@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .login-input:focus {
    outline: none;
  }
  .login-input::placeholder {
    font-size: 0.8rem;
  }
  .btn-blue-pink {
    background-image: linear-gradient(to right, #1a49f6, #cd16cd);
  }
  .light-gray {
    color: #848488;
  }
  .dark-red {
    color: #b3261e;
  }
  .bg-blue {
    background-color: #4049aa;
  }
  .bg-dark-blue-500 {
    background-color: #001835;
  }
  .text-blue-300 {
    color: #0f82ff;
  }
  .bg-text-blue-300 {
    background-color: #0f82ff;
  }
  .bg-dark-blue-400 {
    background-color: #002046;
  }
  .bg-dark-blue-450 {
    background-color: #011c3e;
  }
  .text-gray-300 {
    color: #d3d3d3;
  }
  .text-gray-200 {
    color: #c9c9c9;
  }
  .text-gray-400{
    color: #58677A;
  }
}
